<mat-card>
  <!-- <mat-card-title>Sort</mat-card-title> -->
  <form [formGroup]="sorterCriteriaForm" (ngSubmit)="openDialog()">
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Type</mat-label>
      <mat-select required formControlName="type" (selectionChange)="onTypeValueChange($event)">
        <mat-option *ngFor="let type of types" [value]="type.id">
          {{type.displayValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill" [hidden]="makeMultiselect">
      <mat-label>Category</mat-label>
      <mat-select required formControlName="categorySingleValue">
        <mat-option *ngFor="let category of categories" [value]="category.id">
          {{category.displayValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill" [hidden]="!makeMultiselect">
      <mat-label>Category</mat-label>
      <mat-select required formControlName="categoryMultiValue" [multiple]="true">
        <mat-option *ngFor="let category of categories" [value]="category.id">
          {{category.displayValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="ll-align-center">
    <button mat-raised-button [disabled]="!sorterCriteriaForm.valid" aria-label="Done" color="primary" submit>
      <mat-icon>done_all</mat-icon>
    </button>
  </div>
</form>

</mat-card>
