<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>
    <h1>Little Learners</h1>
    <span class="menu-spacer"></span>
    <!-- <div>
      <a mat-button [routerLink]="'/vocab-builder'"> Vocabulary </a>
      <a mat-button [routerLink]="'/counting'"> Counting </a>
      <a mat-button [routerLink]="'/sorting'"> Sorting </a>
      <a mat-button [routerLink]="'/matching'"> Matching </a>
    </div> -->
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <mat-nav-list>

      <a mat-list-item (click)="sidenav.toggle()" href="" mat-list-item>Home</a>
      <a mat-list-item (click)="sidenav.toggle()" [routerLink]="'/vocab-builder'"> Vocabulary </a>
      <a mat-list-item (click)="sidenav.toggle()" [routerLink]="'/counting'"> Counting </a>
      <a mat-list-item (click)="sidenav.toggle()" [routerLink]="'/sorting'"> Sorting </a>
      <a mat-list-item (click)="sidenav.toggle()" [routerLink]="'/matching'"> Matching </a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="ll-main-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
